
@{
    ViewBag.Title = "EGO - Admin";
}

<h2>Admin</h2>
<a href="@Url.Action("AdminCreation")">
    <button>Admin Account Creation</button>
</a>
<a href="@Url.Action("MessagingCenter")">
    <button>Admin Messaging Center</button>
</a>
<a href="@Url.Action("DuePayments")">
    <button>Check Due Payments</button>
</a>
