
@{
    ViewBag.Title = "EGO - Admin";
}

<h2>Admin</h2>
@using (Html.BeginForm("CreateNewAdmin", "Admin", FormMethod.Post))
{
    <div class="new-admin">
        <input type="submit" value="Create admin" class="btn btn-primary" />
    </div>
